

header {
    text-align: center;
    color: darkblue;
    font-size: 500px;
    font-family: Arial;
    font-style: bold;
}

body {
    background-color: darkgreen;
}

nav {
    font-size: 300px;
    font-family: helvetica;
    font-style: italic;
}