

header {
    text-align: center;
    color: gray;
    font-size: 200px;
    font-family: Arial;
    font-style: bold;
}

body {
    background-color: darkgreen;
    color:white;
    margin: 10px 10px 10px 10px;
}

nav {
    font-size: 100px;
    font-family: helvetica;
    font-style: italic;
}
iframe {
    width: 500px;
    height: 600px;
}